article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px "TrebuchetMS", Helvetica, Verdana, sans-serif;
    /*XXX*/
    background-color: rgb(219, 196, 240);
}

:root {

    --imgRadius: 10px;
}


b {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #451234;
    font-weight: bold;
}

.textCollection {
    padding: 1.5em 0;
}



/* Header
.........................................................................*/



/* Main
.........................................................................*/
#flexPersons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.profile {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */

}

.profile img:hover {
    /* transform: scale(1.1); */
    animation: in .4s linear 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.profile div {
    width: 50%;
}

.profile div {
    width: 100%;
    text-align: center;
}

.profile .imgDiv {
    overflow: hidden;
}

.profile .imgDiv div {
    overflow: hidden;
}

.profile img {
    animation: out .4s linear 1;
    animation-fill-mode: forwards;
    overflow: hidden;
    border-radius: var(--imgRadius);
    margin: 0 auto;
}

@keyframes in {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes out {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}


#detailView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5a8170;
    display: none;
}

#detailView .line {
    height: 25%;
    width: 100%;
    background-color: #F9F8Fa;
    position: absolute;
    top: 0;
    left: 0;
}

#detailView button {
    margin: 2em 10% 0;
    z-index: 5;
    border: brown;
    background-color: brown;
    color: white;
    cursor: pointer;
    border-radius: var(--imgRadius);
}

#theDetailView {
    width: 80%;
    position: absolute;
    /* top: 2em; */
    transform: translate(12.5%, 50%);
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */

}

#theDetailView img {

    float: right;
    /* margin-top: 47%; */
    border-radius: var(--imgRadius);


}

#theDetailView h2 {

    /* float: right; */
    /* margin-top: 47%; */

    font-size: 2em;
    line-height: 1em;

}

#theDetailView p {
    /* align-self: flex-end; */
    /* display: block; */
    clear: both;


}

/* Footer
.........................................................................*/




/* @media query! Skærme over XXXpx
..................................................................*/